{% extends 'layouts/base.twig' %}
{% trans_default_domain 'prompts' %}

{% block body %}
{% if table.width is not defined or table.width > 12 or table.width < 1 %}
    {% set table = table|merge({'width': 12}) %}
{% endif %}

{% set columns = pagination.getCustomParameter('columns') %}
{% set search = pagination.getCustomParameter('search') %}

{% set unsort_css = 'oi oi-elevator unsorted' %}
{% if pagination.getDirection == 'asc' %}
	{% set sort_css = 'oi oi-caret-bottom sorted' %}
{% elseif pagination.getDirection == 'desc' %}
	{% set sort_css = 'oi oi-caret-top sorted' %}
{% else %}
	{% set sort_css = unsort_css %}
{% endif %}

{% set n_start	= (pagination.getCurrentPageNumber - 1) * pagination.getItemNumberPerPage + 1 %}
{% set n_end	= pagination.getCurrentPageNumber * pagination.getItemNumberPerPage %}

{% if n_end > pagination.getTotalItemCount %}
	{% set n_end	= pagination.getTotalItemCount %}
{% endif %}

<div class="row list-container" itemPath="{{ path(itemPath) }}">
	<div class="col-sm-{{ table.width }}">

		<nav class="navbar navbar-expand-lg navbar-light dashboard-list">
			<h2>{{ headerTitle|trans|capitalize }}</h2>
			<button id="0" type="button" item="0" data-toggle="modal" data-target="#modal_dialog"  class="btn btn-success oi oi-plus" title="{{ 'title.create'|trans|capitalize }}"></button>
		</nav>

		<div class="row">
			<div class="col-sm-3">
				<div class="btn-group page-limit">
					<button class="btn btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						{{ 'pager.limitMenu'|trans|replace({'_LIMIT_':pagination.getItemNumberPerPage}) }}
					</button>
					<div class="dropdown-menu">
						<a id="limit_5"  class="dropdown-item limit" href="#">5</a>
						<a id="limit_10" class="dropdown-item limit" href="#">10</a>
						<a id="limit_25" class="dropdown-item limit" href="#">25</a>
						<a id="limit_50" class="dropdown-item limit" href="#">50</a>
						<a id="limit_100" class="dropdown-item limit" href="#">100</a>
					</div>
				</div>
			</div>
			<div class="col-sm-9">
				<div class="input-group mb-1 search-block">
					<div class="input-group-prepend">
						<button id="clear_search_btn" class="input-group-text oi oi-x search-button" title="{{ 'hint.clear_filer'|trans|capitalize }}"></button>
					</div>
					<input type="text" id="search_input" name="search_input" value="{{ search }}" class="form-control search-input" placeholder="Search" aria-label="Recipient's username" aria-describedby="basic-addon2">
					<div class="input-group-append">
						<button id="search_btn" class="input-group-text oi oi-magnifying-glass search-button" title="{{ 'title.search'|trans|capitalize }}"></button>
					</div>
				</div>
			</div>
		</div>

		<table class="table pager-list table-striped table-sm table-bordered">
			<thead class="thead-light">
				<tr>
				{% for field_opts in columns %}
					{% set value = field_opts.title|trans|capitalize %}
					{% set field_db = 'record.' ~ field_opts.field %}

					<th scope="col" class="pager-col-title">

					{% if field_opts.sortable %}
						{{ knp_pagination_sortable(pagination, value, field_db ) }}
						<span class="{% if pagination.isSorted(field_db) %}{{ sort_css }}{% else %}{{ unsort_css }}{% endif %}"></span>
					{% else %}
						{{ value }}
					{% endif %}
					</th>
				{% endfor %}
				</tr>
			</thead>

			<tbody>
			{% for record in pagination %}
				<tr {% if loop.index is odd %}class="color"{% endif %}>
				{% for field_opts in columns %}
					<td class="list-sell {{ field_opts.css }}">{{ attribute(record, field_opts.field) }} </td>
				{% endfor %}
				</tr>
			{% endfor %}
			</tbody>
		</table>

		<div class="row">
			<div class="col-sm-4">&nbsp;</div>
			<div class="col-sm-8">
				<div class="pager-info">
					{{ 'pager.info'|trans|replace({'_START_':n_start,'_END_':n_end,_TOTAL_:pagination.getTotalItemCount}) }}
				</div>
				<div class="navigation">
					{{ knp_pagination_render(pagination) }}
				</div>
			</div>
		</div>
	</div>
</div>

<form id="form-resp" action="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}" method="get">
	<input type="hidden" name="search" id="search" value="{{ search }}" />
	<input type="hidden" name="limit" id="limit" value="{{ pagination.getItemNumberPerPage }}" />
	<input type="hidden" name="page" id="page" value="1" />

{#

	{% if table.input.isActive is defined %}
		<input type="hidden" name="showActive" id="showActive" value="{{ table.input.isActive.value }}" />
	{% endif %}

	{% if table.input.currency is defined %}
		<input type="hidden" name="currency" id="currency" value="{{ table.input.currency.item.id }}" />
	{% endif %}
	#}

</form>
{% include '/dialogs/modal.twig' %}

{% endblock %}

{% block javascripts %}
<script type="text/javascript">

$(document).ready(function(){

    $("#limit_{{ pagination.getItemNumberPerPage }}").addClass("active");

    $(".limit").on('click',function (event) {
        $("#limit").val($(this).html() );
        $('form#form-resp').submit();
    });

    $("#search_btn").on('click',function (event) {
        $("#search").val( $("#search_input").val());
        $('form#form-resp').submit();
    });

    $("#clear_search_btn").on('click',function (event) {
        $("#search").val("");
        $("#search_input").val("")
        $('form#form-resp').submit();
    });

    $("#clear_search_btn").on('click',function (event) {
        $("#search").val("");
        $("#search_input").val("")
        $('form#form-resp').submit();
    });

});

{#


function openFormModal( obj ){
	$.ajax({
		url:  $("div[itemPath]").attr( "itemPath" )+"?id="+obj.attr( "id" ),
		type: "POST",
		async: true,
		dataType: "json",
		// data: null,
		success: function( data, textStatus, jqXHR ) {
			$("#modal_body").html(data.html);
			$('input:visible:enabled:first', '#modal_dialog').focus();

			$('div#modal_dialog form').submit(function(e) {
				let $form = $(this);

				$("div[id^='err_']").html("");

				$.ajax({
					type:	$form.attr('method'),
					url:	$form.attr('action'),
					data:	$form.serialize()
				}).done(function(data) {
					if( data.error.message.length > 0 ){
						$("#err_"+data.error.field).html(data.error.message);
					}else{
						$('#modal_dialog').modal('toggle');
						$("#searchStr").val(data.table.input.search.value);

	{% if table.input.isActive is defined %}
						$("#showActive").val( data.table.input.isActive.value );
	{% endif %}

						$('form#form-resp').submit();
					}
				}).fail(function() {
					alert("Server system error.");
				});
				e.preventDefault();
			});
		},
		error: function( jqXHR, textStatus, errorThrown ) {
			alert( "JS system error." );
		}
	});
}
//______________________________________________________________________________

/**
 *
 * @param obj
 * @param size - value to increase button. Must be even.
 */
function clearSearchBtnHover( obj, size ){
	let new_size = obj.css("font-size");
	new_size	= (parseInt(new_size.substring(0,(new_size.length-2))) + size) + "px";
	obj.css("font-size", new_size);

	new_size	= obj.css("padding-left");
	obj.css("padding-left",((parseInt(new_size.substring(0,(new_size.length-2))) - size/2 )+"px"));

	new_size	= obj.css("padding-right");
	obj.css("padding-right",((parseInt(new_size.substring(0,(new_size.length-2))) - size/2 )+"px"));
}
//______________________________________________________________________________

$(function() {
	{% if table.data != null %}
		$('#table_body').initDataTables( {{ datatable_settings(table.data) }} )
			.then( function() {
				let entity	= $("table[id^='list_']").attr("id");
				entity	= entity.split("_");
				entity	= entity[1];

				dt.on( 'draw', function () {
					$("table[id^='list_'] tbody tr")
						.click(function(){ openFormModal($(this)); })
						.attr("data-toggle", "modal")
						.attr("data-target", "#modal_dialog")
					;
				});

				$("table[id^='list_'] tbody tr, button[item]")
					.click(function(){ openFormModal($(this)); })
					.attr("data-toggle", "modal")
					.attr("data-target", "#modal_dialog")
				;

				dt.search( "{{ table.input.search.value }}" ).draw();

				$("div.dataTables_filter label").append('<button type="button" class="btn oi oi-circle-x clear-search" title="{{ 'hint.clear_filer'|trans }}"></button>');

				$("div.dataTables_filter label button.clear-search").on('click',function (event) {
					dt.search( "" ).draw();
                });

                $("div.dataTables_filter label button.clear-search").on('mousedown',function (event) {
					clearSearchBtnHover( $(this), +2 );
                });

                $("div.dataTables_filter label button.clear-search").on('mouseup',function (event) {
					clearSearchBtnHover( $(this), -2 );
                });


		{% if table.input.isActive is defined %}

				$("div.dataTables_filter").prepend(
					'<div class="form-check form-check-inline">'+
						'<label class="form-check-label" for="show_active">{{ 'title.showInStock'|trans }}</label>'+
						'<input class="form-check-input" type="checkbox" id="show_active" name="show_active" value="option1" {{ table.input.isActive.value }} />'+
					'</div>'
				);

				$("#show_active").on('change',function (event) {
					let checked	= $(this).is(":checked") ? "checked" : "";
					$("#searchStr").val('');
					$("#showActive").val(checked);
					$('form#form-resp').submit();
				});
		{% endif %}

		{% if table.input.currency is defined %}
				let list = '';

				{% for curr in table.input.currency.list %}
					list = list + '<a class="dropdown-item" currency="{{ curr.id }}" href="#">{{ curr.name }}</a>';
				{% endfor %}

				$("div.dataTables_filter").prepend(
'<div class="btn-group currency-sel-box">' +
	'<label class="form-check-label" for="currency_btn">{{ 'title.currency'|trans|capitalize }}</label>'+
	'<button class="btn btn-sm" type="button" id="currency_btn">{{ table.input.currency.item.name }}</button>' +
	'<button type="button" class="btn btn-sm dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>' +
	'<div class="dropdown-menu">' + list + '</div>' +
'</div>'+
''
				);

				$("a[currency]").on('click',function (event) {
					$("#currency").val($(this).attr("currency"));
					$('form#form-resp').submit();
				})

		{% endif %}

			});

	{% endif %}
});
//______________________________________________________________________________
#}


</script>
{% endblock %}