{% extends 'dialogs/entity_form.twig' %}
{% trans_default_domain 'prompts' %}

{% block body %}
	<div class="form-group row">
		<div class="col-sm-3">
			{{ form_label(form.name, 'form.denomination'|trans|capitalize, {'label_attr':{'class':'col-sm-2 col-form-label col-form-label-sm', 'for':'currency_form_name'}} ) }}
		</div>
		<div class="col-sm-9">
			{{ form_widget(form.name ) }}
			<div id="err_name" class="modal-error-content"></div>
		</div>
	</div>

	<div class="form-group row">
		<div class="col-sm-3">
			{{ form_label(form.symbol, 'form.sign'|trans|capitalize, {'label_attr':{'class':'col-sm-2 col-form-label col-form-label-sm', 'for':'currency_form_symbol'}} ) }}
		</div>
		<div class="col-sm-9">
			{{ form_widget(form.symbol ) }}
			<div class="modal-error-content"></div>		<!-- Dummy -->
		</div>
	</div>

	<div class="form-group row">
		<div class="col-sm-3">
			{{ form_label(form.ratio, 'form.ratio-currency'|trans|capitalize, {'label_attr':{'class':'col-sm-2 col-form-label col-form-label-sm', 'for':'currency_form_ratio'}} ) }}
		</div>

		<div class="col-sm-9 from-check-box">
			{{ form_widget(form.ratio ) }}
			<div class="modal-error-content"></div>		<!-- Dummy -->
		</div>
	</div>

	<div class="form-group row">
		<div class="col-sm-3">
			{{ form_label(form.isAfterPos, 'form.position'|trans|capitalize, {'label_attr':{'class':'col-sm-2 col-form-label col-form-label-sm', 'for':'currency_form_isAfterPos'}}) }}
		</div>

		<div class="col-sm-6">
			{{ form_label(form.isAfterPos[0], 'form.before'|trans|capitalize, {'label_attr':{'class':'col-form-label col-form-label-sm', 'for':'currency_form_isAfterPos_0'}}) }}&nbsp;
			{{ form_widget(form.isAfterPos[0], {'attr':{'class':'position-radio'}}) }}
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			{{ form_label(form.isAfterPos[1], 'form.after'|trans|capitalize, {'label_attr':{'class':'col-form-label col-form-label-sm', 'for':'currency_form_isAfterPos_1'}}) }}&nbsp;
			{{ form_widget(form.isAfterPos[1], {'attr':{'class':'position-radio'}}) }}
		</div>
	</div>
{% endblock %}
