{% trans_default_domain 'prompts' %}

<div id="delete_modal" class="modal-body">

	<h4>{{ 'title.sureYou'|trans|capitalize }}</h4>

	{{ form_start(deleteForm) }}

	{{ form_end(deleteForm) }}

	<div class="modal-footer">
		<button type="button" onclick="$('#delete_form').submit();" class="btn btn-light">{{ 'button.yes'|trans|capitalize }}</button>
		<button type="button" id="no_btn" data-dismiss="modal" class="btn btn-light">{{ 'button.no'|trans|capitalize }}</button>
	</div>
</div>

<script>
$(document).ready(function(){
	$("#modal_label").html("{{ 'title.deletion'|trans|capitalize }}");
	$("#no_btn").focus();
});
</script>
