{% trans_default_domain 'prompts' %}


<div id="product_modal" class="modal-body">

{{ form_start(productForm) }}

	<div class="row">
		<div class="col-sm-8">
														{# Categroies Collapse component #}
			<div class="accordion" id="accordionCateories">
				<div class="card">
					<div class="card-header" id="headingCateories" data-toggle="collapse" data-target="#collapseCateories" aria-expanded="true" aria-controls="collapseCateories">Categories</div>

					<div id="collapseCateories" class="collapse" aria-labelledby="headingCateories" data-parent="#accordionCateories">  {# show #}
						<div class="card-body">

							{% for key,choice in productForm.formCategories.vars.choices %}
								{% set attribut	= {} %}
								{% set break = false %}

								{% for prodCat in product.categories if not break %}
									{% if prodCat.id == choice.value %}
										{% set attribut	= {'attr':{'checked':'checked'}} %}
										{% set break = true %}
									{% endif %}
								{% endfor %}

								<div class="container">
									<div class="row">
										<div class="col-sm-8">{{ form_label(productForm.formCategories[key]) }} </div>
										<div class="col-sm-4">{{ form_widget(productForm.formCategories[key], attribut) }}</div>
									</div>
								</div>

							{% endfor %}
						</div>
					</div>
				</div>
			</div>

			<div class="form-group row">
				{{ form_label(productForm.name, 'form.denomination'|trans|capitalize, {'label_attr':{'class':'col-sm-2 col-form-label col-form-label-sm', 'for':'product_form_name'}} ) }}
				<div class="col-sm-10">
					{{ form_widget(productForm.name ) }}
					<div id="err_name" class="modal-error-content"></div>
				</div>
			</div>

			<div class="form-group row">
				{{ form_label(productForm.article, 'form.article'|trans|capitalize, {'label_attr':{'class':'col-sm-2 col-form-label col-form-label-sm', 'for':'product_form_article'}} ) }}
				<div class="col-sm-10">
					{{ form_widget(productForm.article ) }}
					<div id="err_article" class="modal-error-content"></div>
				</div>
			</div>

			<div class="row">
				<label class="col-sm-1 group-title">{{ 'form.price'|trans|capitalize }}</label>
				<div class="col-sm-1">{{ form_widget(productForm.currency ) }}</div>
			</div>

			<div class="form-group row">
				<div class="col-sm-1">&nbsp;</div>
				{{ form_label(productForm.tradePrice, 'form.wholesale'|trans|capitalize, {'label_attr':{'class':'col-sm-2 col-form-label col-form-label-sm', 'for':'product_form_tradePrice'}} ) }}
				<div class="col-sm-3">{{ form_widget(productForm.tradePrice ) }}</div>
				<div class="col-sm-1">&nbsp;</div>
				{{ form_label(productForm.price, 'form.retail'|trans|capitalize, {'label_attr':{'class':'col-sm-2 col-form-label col-form-label-sm', 'for':'product_form_price'}} ) }}
				<div class="col-sm-3">{{ form_widget(productForm.price ) }}</div>
			</div>

			<div class="row"><label class="col-sm-3 group-title">{{ 'form.quantity'|trans|capitalize }}</label></div>
			<div class="form-group row quantity">
				<div class="indent"></div>

				{{ form_label(productForm.inPack, 'form.in_pack'|trans|capitalize, {'label_attr':{'class':'col-sm-2 col-form-label col-form-label-sm', 'for':'product_form_inPack'}} ) }}
				<div class="col-sm-1 value">{{ form_widget(productForm.inPack ) }}</div>

				<div class="col-sm-1">&nbsp;</div>

				{{ form_label(productForm.packs, 'form.packs'|trans|capitalize, {'label_attr':{'class':'col-sm-2 col-form-label col-form-label-sm', 'for':'product_form_packs'}} ) }}
				<div class="col-sm-1 value">{{ form_widget(productForm.packs ) }}</div>

				<div class="col-sm-1">&nbsp;</div>

				{{ form_label(productForm.outPack, 'form.out_pack'|trans|capitalize, {'label_attr':{'class':'col-sm-2 col-form-label col-form-label-sm', 'for':'product_form_outPack'}} ) }}
				<div class="col-sm-1 value">{{ form_widget(productForm.outPack ) }}</div>

			</div>
		</div>

		<div class="col-sm-4" role="img">
			<img id="product_image" src="/images/uploads/{{ image }}" title="{{ 'hint.image_upload'|trans }}"  onclick="$('#file_upload_input').click();" class="img-thumbnail" />
		</div>
	</div>	<!-- row -->

	<div class="row">
		<div class="col-sm-12">
			<div class="form-group row">
				{{ form_label(productForm.description, 'form.description'|trans|capitalize, {'label_attr':{'class':'col-sm-2 col-form-label col-form-label-sm', 'for':'product_form_description'}} ) }}
				<div class="col-sm-10">{{ form_widget(productForm.description ) }}</div>
			</div>
		</div>
	</div>

{{ form_end(productForm) }}

	<div class="modal-footer">
		<button type="button" onclick="$('#dialog_form').submit();" class="btn btn-secondary">{{ 'button.save'|trans|capitalize }}</button>
	</div>
</div>


<form id="file-upload-from" action="{{ path('uploadfile') }}" method="post" enctype="multipart/form-data">
	<input type="hidden" name="token" value="{{ csrf_token('fileupload043secret') }}" />
	<input type="hidden" id="product_id" name="product_id" value="" />
	<input style="display: none;" id="file_upload_input" type="file" name="file_uploaded" accept=".gif,.jpg,.png,.bmp">
</form>

<script>
$(document).ready(function(){
	let uform = document.getElementById("file-upload-from")
		,item
		,currencies	= []
		,currency = {
			"id": {{ currency.id }},
			"name": "{{ currency.name }}",
			"symbol": "{{ currency.symbol }}",
			"ratio": {{ currency.ratio }},
			"isAfterPos": ("{{ currency.isAfterPos }}" !== "")
		}
		,tradePriceInp	= $("#product_form_tradePrice").val()
		,priceInp	= $("#product_form_price").val()
		;

	{% for crncy in currencies %}
		item	= {
			"id": {{ crncy.id }},
			"name": "{{ crncy.name }}",
			"symbol": "{{ crncy.symbol }}",
			"ratio": {{ crncy.ratio }},
			"isAfterPos": ("{{ crncy.isAfterPos }}" !== "")
		};
		currencies.push(item);
	{% endfor %}

	$("#product_id").val( $("#product_form_id").val());

	$("#file_upload_input").on("input",function(event){
		$.ajax({
			url: "{{ path('uploadfile') }}",
			data: new FormData(uform),// the formData function is available in almost all new browsers.
			type: "post",
			contentType: false,
			processData: false,
			cache: false,
			dataType:"json", // Change this according to your response from the server.
			error: function(err){
				alert("Server error while file uploading.");
				console.error(err);
			},
			success: function(data){
				$("#product_image").attr("src", data.file );
				// console.log(data);
			},
			complete: function(){
				// console.log("Request finished.");
			}
		});
	});

	$("#product_form_currency").on('change',function (event) {
		let sel_curr=null, price;

		for (let key in currencies ){
			if(currencies[key].id === parseInt($(this).children("option:selected").val()) ){
				sel_curr	= currencies[key];
				break;
			}
		}

		tradePriceInp	= (tradePriceInp / currency.ratio) * sel_curr.ratio;
		price	= parseFloat(Math.round(tradePriceInp*100)/100).toFixed(2);
		$("#product_form_tradePrice").val(price);

		priceInp	= (priceInp / currency.ratio) * sel_curr.ratio;
		price	= parseFloat(Math.round(priceInp*100)/100).toFixed(2);
		$("#product_form_price").val(price);

		currency	= sel_curr;
	});

	$("#product_form_currency").val(currency.id);
});
</script>
